
<link rel="stylesheet" href="feed.css">
<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-12">
        <nav class="navbar navbar-light" >

            <a class="headerStyle fontHeaderStyle paddingI">I</a>
            <i class="fa fa-heart-o fa-3x " aria-hidden="true"></i>
            <a class=" headerStyle fontHeaderStyle" > it</a>

            <search-bar  ng-show="currentUser!=null" results="feed.items"></search-bar>
        </nav>

    </div>
    <div  class = "col-md-1" >
        </div>
<link rel="stylesheet" href="feed.css">
<div  class = "col-md-3" >
    <input class ="enterFont txtSighUp" ng-model="newRecipe.title" type="text" placeholder="Title" >
    <br>
    <input class ="enterFont txtSighUp"   ng-model="newRecipe.description" type="text"  placeholder="Description">
    <br>
    <input class ="enterFont txtSighUp" ng-model="newRecipe.authors" type="text" placeholder="Authors" >
    <br>
    <input class ="enterFont txtSighUp"   ng-model="newRecipe.ingredients" type="text"  placeholder="Ingredients">
    <br>
    <input class ="enterFont txtSighUp" ng-model="newRecipe.previewPicture" type="text" placeholder="Preview Picture" >
</div>
<div class = "col-md-3" >
    <text-angular  ng-model="newRecipe.content" class="tableCell"></text-angular>
    <button  class="btn-default" ng-click="feed.submit(); showSubmit=true">submit</button>
</div>
    <div  class = "col-md-1" >
    </div>
    <div class = "col-md-3" ng-show="showSubmit">
        <recipe recipe='newRecipe'></recipe>
        <div ta-bind ng-model="newRecipe.content"></div>
    </div>
</div>