<div class="container-fluid">
    <div class='row justify-content-center'>
        <div class='col'>
                <img ng-src={{ProfileController.profile.profilePicture}} class="rounded-circle img-fluid"  >
        </div>
    </div>
    <div class='row justify-content-center'>
        <div class='col'>
                <h3>{{ProfileController.profile.name}}</h3>
        </div>
    </div>
    <div class='row justify-content-center' ng-click="ProfileController.showFollowers()">
        <div class='col'>
            <p>{{ProfileController.profile.numOfFollowers}} subscribers</p>
        </div>
        <div class='col' ng-click="ProfileController.showFollowees()">
            <p> follows {{ProfileController.profile.numOfFollows}} </p>
        </div>
        <div ng-click="ProfileController.showRecipes()">Show recipes!</div>
    </div>

</div>
