<tabs></tabs>
<link rel="stylesheet" href="feed.css">
<div >
    <div class="card text-center">
        <div class="card-header" align="left">
            {{RecipeController.recipe.title}}
        </div>
        <div class="card-block">
            <div class="row">
                <div class="col-md-4">
                    <img ng-src={{RecipeController.recipe.previewPicture}} class="media-object" style="width:60px">
                    <h3 ng-click="RecipeController.gotoLikes()">num of likes: {{RecipeController.recipe.numOfLikes}}</h3>
                    <h3 ng-show="!RecipeController.liked" ng-click="RecipeController.like()">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    </h3>
                    <h3 ng-show="RecipeController.liked" ng-click="RecipeController.unlike()">
                        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                    </h3>
                </div>
                <div class="col-md-8">
                    <h4 class="card-title"> {{RecipeController.recipe.title}}</h4>
                    <p class="card-text">
                    <div ta-bind ng-model="RecipeController.recipe.content"></div>
                    </p>
                </div>
                <div>
                    <p ng-click="RecipeController.gotoAuthors()"> click to view authors!</p>
                    <i ng-click="RecipeController.edit()" class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <form novalidate>
            <textarea ng-model="RecipeController.commentText"></textarea>
            <button ng-click="RecipeController.postComment()">Submit</button>
        </form>
        <div class='card-block' ng-repeat="comment in RecipeController.comments">
            <div class='col-md-2'>
                <img ng-src={{comment.author.profilePicture}} class="rounded-circle img-fluid">
                <br/>
                {{comment.author.name}}
            </div>
            <div class='col-md-10'>
                {{comment.content}}
            </div>
        </div>
    </div>
</div>