<link rel="stylesheet" href="feed.css">
<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-12">
        <nav class="navbar navbar-light" >

            <a class="headerStyle fontHeaderStyle paddingI">I</a>
            <i class="fa fa-heart-o fa-3x " aria-hidden="true"></i>
            <a class=" headerStyle fontHeaderStyle" > it</a>
        </nav>
        <div  style="display: inline">
            <label  class ="enterFont" style="padding-left: 25%;" for="name">Email:</label>
            <input  class ="enterFont txtBox"  type="text" ng-model="signInUser.email"  id="name" name="lastname">
            <label  class ="enterFont"   style="margin-left: 10px;" for="password">Password:</label>
            <input class ="enterFont txtBox"  type="text" ng-model="signInUser.password" id="password" name="password">
            <button class ="enterFont btn-default " style="margin-left: 10px;" ng-click="SignInController.signIn()">Sign in</button>
        </div>

    </div>
<div  style="padding-left: 20px;">
    <label  style="font-size: 30px;" class ="enterFont">Sign Up</label>
    <br>
    <input class ="enterFont txtSighUp"  ng-model="newUser.name" type="text" placeholder="Name" >
    <br>
    <input class ="enterFont txtSighUp" ng-model="newUser.profilePicture" type="text" placeholder="Profile Picture" >
    <br>
    <input class ="enterFont txtSighUp" ng-model="newUser.email" type="text" placeholder="Email" >
    <br>
    <input class ="enterFont txtSighUp"   ng-model="newUser.password" type="text"  placeholder="Password">
    <br>
    <button class ="enterFont btn-default " style="margin-left: 10px;" ng-click="SignInController.createNewPerson()">Create Account</button>
</div>