<link rel="stylesheet" href="feed.css">

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">Our site!</a>
    <search-bar results="feed.items"></search-bar>
</nav>

<div class='container'>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8">

            <div ng-hide='feed.selectedItem != null'>
                <button type="button" class="btn btn-outline-secondary btn-sm" ng-class="{active: feed.mode === 'recipes'}" ng-click="feed.mode='recipes'">Recipes ({{(feed.items.recipes.length) || 0  }})</button>
                <button type="button" class="btn btn-outline-secondary btn-sm" ng-class="{active: feed.mode === 'people'}" ng-click="feed.mode='people'">People ({{(feed.items.people.length) || 0}})</button>
                
                <ul class="list-group" >
                <li class="list-group-item" ng-repeat="recipe in feed.items.recipes" ng-show="feed.mode =='recipes'">
                    <recipe-preview recipe="recipe" ng-click="feed.selectItem(recipe._id, 'recipe')" width="100%" height="100%"></recipe-Preview>
                </li>
                <li class="list-group-item" ng-repeat="person in feed.items.people" ng-show="feed.mode =='people'">
                    <person-preview person="person" ng-click="feed.selectItem(person._id, 'person')"></person-Preview>
                </li>
            </ul>
            </div>
            

            <recipe ng-show='feed.selectedItemType == "recipe"' recipe="feed.selectedItem" on-deselect="feed.deselectItem()"></recipe>

        </div>
        <div class="col-md-3">
            <person ng-show='feed.selectedPerson != null' person='feed.selectedPerson'></person>
        </div>


    </div>

</div>



